* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(99, 59, 8);
}

.neon {
    color: rgb(3, 1, 0);
}

.asd {
    color: rgb(99, 59, 8);
}

.asd2 {
    color: rgb(99, 59, 8);
}

.and {
    color: rgb(3, 1, 0);
    font-size: 2.3rem;
}

.as {
    color: rgb(99, 59, 8);
}

.mar {
    color: rgb(201, 30, 158);
}

.ox {
    color: rgba(0, 0, 0, 0);
}

.ir-arriba {
    color: rgb(73, 35, 3);
}

.ir-abajo {
    color: rgb(73, 35, 3);
}



html {
    font-size: 10px;
}

body {
    font-family: "Kanit", sans-serif;
    background-color: rgba(238, 203, 90, 0.616);
}

.encabezado {
    background-image: url(./img_ind/solfondo.jpg);
    background-color: rgb(212, 121, 17);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    height: 9vh;
}

.menuSuperior {
    text-align: center;
}

.menuSuperior li {
    display: inline-block;
}

.menuSuperior a {
    text-decoration: none;
    color: rgb(73, 35, 3);
    font-weight: 700;
    padding: 3rem;
    font-size: 2.2rem;
}

.menuSuperior_texto:hover {
    color: aliceblue;
}

.box_model,
.box_model2 {
    float: left;
    color: rgb(2, 22, 22);
    width: 150px;
    height: 100px;

    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 10px;

    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;

    border-top: solid 3px rgb(255, 81, 0);
    border-right: solid 2px rgb(255, 136, 0);
    border-bottom: solid 3px rgb(255, 81, 0);
    border-left: solid 2px rgb(255, 136, 0);
    overflow: auto;
}

.box_model2 {
    background-color: rgba(255, 217, 0, 0.438);
}

.box_model {
    background-color: rgba(255, 136, 0, 0.452);
}

.titulos {
    display: inline-block;
}

.contenido {
    box-shadow: 3px 3px;
    background-color: rgba(255, 174, 0, 0.658);
    padding: 2rem;
    width: 49%;
    border-radius: 5px;
}

.contenido_sugerencias,
.contenido_sugerencias2 {
    color: black;
    background-color: rgba(187, 159, 33, 0.726);
    border: solid 8px rgba(255, 136, 0, 0.562);
    border-top: solid 12px red;
    border-bottom: solid 12px aqua;
    border-left: solid 12px greenyellow;
    border-right: solid 12px black;
    line-height: 1.5rem;
    padding: 2rem;
    width: 10%;
    float: right;
}

.formulario {
    width: 80%;
    margin: 0 auto;
}

.fieldset {
    border: 2px solid #929090;
    padding: 2rem;
    margin-bottom: 4rem;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.legend {
    font-weight: bold;
}

.form_group {
    margin-bottom: 1rem;

}

.label {
    display: block;
}

.input,
textarea,
select {
    width: 50%;
}

.submit_enviar {
    padding: 1rem;
    width: 150px;
    background-color: #e4cb3d;
    border: 1px solid;
    border-radius: 0.7rem;
    cursor: pointer;
}

.submit_enviar:hover {
    background-color: #bba31b;
}

.titulo {
    color: black;
    font-size: 2.3rem;
}