body{
    color: rgb(124, 179, 211);
}
.neon{color: rgb(3, 1, 0);
}
.asd{color: rgb(48, 73, 214);
}
.asd2{color: rgb(48, 73, 214);
}
.as{color: rgb(48, 73, 214);
}
.and{color: rgb(7, 7, 71);
}
.mar{color: rgb(118, 30, 201);}